body
  margin: 0
  width: 100%

/*section/*
.section--xs
  padding-top: 16px
  padding-bottom: 36px
  background: rgba(0, 0, 0, 0.31)
.section--s
  padding-top: 16px
  padding-bottom: 16px
.section--ml
  padding-top: 248px
  padding-bottom: 0px
.section--m
  padding-top: 65px
  padding-bottom: 144px
.section--lx
  padding-top: 144px
  padding-bottom: 145px
.section--lg
  padding-top: 45px
  padding-bottom: 39px
.section--ll
  padding-top: 75px
  padding-bottom: 75px
.section--ms
  padding-top: 100px

.box h1
  font-family: Playfair Display
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 139.4%
  color: #FFFFFF
  text-align: left

.box p
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  padding-top: 29px
  color: #FFFFFF
  text-align: left
/*nav/*
nav ul
  margin: 0px
  padding: 0px
  float: right
  list-style: none

li
  display: inline-block
  padding-right: 22px
  list-style-type: none

li a
  font-family: Gilroy
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 19px
  letter-spacing: -0.015em
  color: #FFFFFF
  display: inline-flex
  text-decoration: none
li a:hover
  color: #FFFFFF
  text-decoration: none
.logo
  font-family: Gilroy
  font-style: normal
  font-weight: 900
  font-size: 24px
  line-height: 80px
  letter-spacing: 0.07em
  color: #FF9900
  display: inline-block
  float: left
.logo:hover
  color: #FF9900

.menu
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 80px
  display: block
  letter-spacing: 0.07em
  color: #FFFFFF
  text-align: center
  text-decoration: none
  margin: auto
  padding: auto

.li a
  display: inline-block
  color: white
  text-align: center



/*button/*
.button--primary
  font-family: Gilroy
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 19px
  letter-spacing: -0.015em
  color: #FF9900
  border: 2px solid
  box-sizing: border-box
  padding: 8px 12px



.button--primary:hover
  text-decoration: none
  color: #FF9900
.button_1
  font-family: Gilroy
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 19px
  text-align: center
  letter-spacing: -0.015em
  color: #FFFFFF
  background-color: #FF9900
  padding: 11px 12px
  width: 166px
.buttonn
  font-family: Gilroy
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 19px
  color: #FFB800
  padding: 13px 22px
  text-align: center
  text-decoration: none
  background-color: #FFFFFF
.button_2
  padding-top: 42px

.buttonn:hover
  color: #FFB800
  text-decoration: none


.buttonn:hover
  color: #FFB800
  text-decoration: none
.title_1 h3
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  text-align: center
  letter-spacing: 9.7px
  text-transform: uppercase
  color: #FF9900

.box

  padding-top: 60px
  text-align: center
  padding-left: 220px

.tool p
  display: inline
  float: left
  font-family: Gilroy
  font-style: normal
  font-weight: 600
  font-size: 20px
  line-height: 139.4%
  padding-left: 35px

.tools
  padding-top: 52px
  padding-bottom: 61px
  text-align: center
  letter-spacing: 0.2px
  display: inline-block
  color: #FFFFFF

.tools  ul
  align-items: center
.tools img li
  background: rgba(255, 255, 255, 0.48)
  border: 0.5px solid rgba(255, 255, 255, 0.48)
  color: #FFFFFF
  width: 59.42px
  padding-top: 8.69px
  padding-left: 12.11px
  display: inline-block

.inside
  position: absolute
  padding-top: 5px
  padding-left: 6px
  z-index: 3
.insite
  position: absolute
//padding-top: -30px
//padding-left: -16px
//z-index: 3
.insidee
  position: absolute
  padding-top: 34px
  padding-left: 5px
  z-index: 4
.insideer
  position: absolute
  padding-top: 47px
  padding-left: 40px
  z-index: 4
.insideers
  position: absolute
  padding-top: 56px
  padding-left: 54px
  z-index: 4

.tool
  display: inline-block

.hop
  padding-top: 20px
  padding-left: 30px
  z-index: 4
.information
  display: inline
  padding-top: 20px
.adress
  padding-top: 2px
  display: inline
.hopi
  padding-top: -30px
  padding-left: 5px
  z-index: 4
.dolar
  position: absolute
  padding-top: 40px
  padding-left: 35px
  z-index: 3
.bag
  position: absolute
  padding-right: 70px
  z-index: 3
.bird
  position: absolute
  padding-top: 20px
  padding-left: 55px
  z-index: 3
.oclock
  position: absolute
  //padding-top: 30px
  padding-left: 25px
  z-index: 4
.card
  position: absolute
  padding-top: 30px
.circle
  position: absolute
  padding-top: 30px
  z-index: 3
.movie
  position: absolute
  padding-top: 50px
  padding-left: 30px
  z-index: 3
.rectangle
  position: absolute
  //padding-top: 547px
  //padding-right: 105px
  z-index: -2

.digital
  position: absolute
  padding-top: 600px
  padding-left: 320px
  z-index: 4
.experiance
  position: absolute
  padding-top: 680px
  padding-left: 320px
  z-index: 4
.bedroom
  padding-top: 400px

.title h3
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  letter-spacing: 9.7px
  text-transform: uppercase
  color: #FF9900



.title h1
  font-family: Playfair Display
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #000000





.title p
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #7C7C7C


.section
  background-color: black

.section h3
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  letter-spacing: 9.7px
  text-transform: uppercase
  color: #FF9900
.section h1
  font-family: Playfair Display
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #FFFFFF

.flex-container
  display: inline-flex
.footer
  background-color: black
.footer h2
  font-family: Gilroy
  font-style: normal
  font-weight: 900
  font-size: 24px
  line-height: 80px
  letter-spacing: 0.07em
  color: #FF9900

.adress h5
  font-family: Gilroy
  font-style: normal
  font-weight: 300
  font-size: 16px
  line-height: 25px
  letter-spacing: -0.7px
  color: #FFFFFF
.tools h5
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #FFFFFF
.contact h5
  font-family: Gilroy
  font-style: normal
  font-size: 16px
  line-height: 19px
  color: #FFFFFF
  padding-top: 55px
.information
  text-align: center
.section_1
  background-color: #FFB800
.contacts
  padding-left: 300px
.about_us
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #FFFFFF
  padding-top: 50px


.contacts h4
  font-family: Playfair Display
  font-style: normal
  font-weight: bold
  font-size: 30px
  line-height: 40px
  color: #FFFFFF
  text-align: left

.contacts h3
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 21px
  letter-spacing: 0.005em
  color: #FFFFFF
  text-align: left
.contacts h5
  font-family: Gilroy
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 19px
  letter-spacing: 0.07em
  color: #FFFFFF


.title_1 h3
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  text-align: center
  letter-spacing: 9.7px
  text-transform: uppercase
  color: #FF9900
.title_1 h1
  font-family: Playfair Display
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 139.4%
  text-align: center
  letter-spacing: 0.2px
  color: #FFFFFF
.title_1 h5
  font-family: Gilroy
  font-style: normal
  font-weight: 300
  font-size: 16px
  line-height: 18px
  text-align: center
  letter-spacing: 0.01em
  color: #FFFFFF
  padding-top: 138px

.title_1 cite
  font-family: Gilroy
  font-style: normal
  font-weight: 500
  font-size: 20px
  line-height: 24px
  text-align: center
  letter-spacing: -0.015em
  color: #FFFFFF
.fas_i
  text-align: center

.title_3 h5
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  text-align: center
  letter-spacing: 9.7px
  text-transform: uppercase
  color: #FF9900
.title_3 h1
  font-family: Playfair Display
  font-style: normal
  font-weight: normal
  font-size: 40px
  line-height: 139.4%
  text-align: center
  letter-spacing: 0.2px
  color: #000000
.title_4 h3
  font-family: Gilroy
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #000000
  padding-top: 166px
.title_4 p
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #000000
.termin h3
  font-family: Gilroy
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #000000


.termin
  display: inline
  padding-top: 31px


.termin h4
  font-family: Gilroy
  font-style: normal
  font-weight: normal
  font-size: 20px
  line-height: 139.4%
  letter-spacing: 0.2px
  color: #000000
.row_1
  display: flex
  flex-direction: row
  width: 100%

.title
  padding-top: 100px

.title_4
 padding-left: 50px









