body {
  margin: 0; }

/*section/* */
.section--xs {
  padding-top: 16px;
  padding-bottom: 36px;
  background: rgba(0, 0, 0, 0.31); }

.section--s {
  padding-top: 16px;
  padding-bottom: 16px; }

.section--m {
  padding-top: 65px;
  padding-bottom: 144px; }

.section--lx {
  padding-top: 144px;
  padding-bottom: 145px; }

.section--lg {
  padding-top: 45px;
  padding-bottom: 45px; }

.section--ll {
  padding-top: 75px;
  padding-bottom: 75px; }

.section--ms {
  padding-top: 100px; }

/*nav/* */
nav ul {
  margin: 0px;
  padding: 0px;
  float: right;
  list-style: none; }

li {
  display: inline-block;
  padding-right: 22px;
  list-style-type: none; }

li a {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  display: inline-flex;
  text-decoration: none; }

li a:hover {
  color: #FFFFFF;
  text-decoration: none; }

.logo {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 80px;
  letter-spacing: 0.07em;
  color: #FF9900;
  display: inline-block;
  float: left; }

.logo:hover {
  color: #FF9900; }

.menu {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 80px;
  display: block;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none; }

.li a {
  display: inline-block;
  color: white;
  text-align: center; }

/*button/* */
.button--primary {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.015em;
  color: #FF9900;
  border: 2px solid;
  box-sizing: border-box;
  padding: 8px 12px; }

.button--primary:hover {
  text-decoration: none;
  color: #FF9900; }

.button_1 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  background-color: #FF9900;
  padding: 11px 12px;
  width: 166px;
  margin-bottom: 120px; }

.buttonn {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFB800;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  background-color: #FFFFFF; }

.button_2 {
  padding-top: 42px;
  float: left; }

.buttonn:hover {
  color: #FFB800;
  text-decoration: none; }

/*box/* */
.box {
  padding-top: 60px;
  text-align: center;
  padding-left: 220px; }

.box h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  color: #FFFFFF;
  text-align: left; }

.box p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  padding-top: 29px;
  color: #FFFFFF;
  text-align: left; }

/*title/* */
.title_1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900; }

.title h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900; }

.title h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000; }

.title p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #7C7C7C; }

.title {
  padding-top: 150px;
  padding-left: 40px;
  width: 100%;
  float: right; }

.title_1 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900; }

.title_1 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF; }

.title_1 h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding-top: 138px; }

.title_1 cite {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF; }

.fas_i {
  text-align: center; }

.title_3 h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900; }

.title_3 h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000; }

.title_4 h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000;
  padding-top: 166px; }

.title_4 p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000; }

.section {
  background-color: black; }

.section_1 {
  background-color: #FFB800; }

.section h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 9.7px;
  text-transform: uppercase;
  color: #FF9900; }

.section h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #FFFFFF; }

/*footer/* */
.footer {
  background-color: black; }

.footer h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 80px;
  letter-spacing: 0.07em;
  color: #FF9900; }

.adress h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.7px;
  color: #FFFFFF; }

.contact h5 {
  font-family: Gilroy;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 55px; }

.information {
  text-align: center; }

.contacts {
  text-align: center;
  padding-left: 220px; }

.about_us {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 50px; }

.contacts h4 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: left; }

.contacts h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.005em;
  color: #FFFFFF;
  text-align: left; }

.contacts h5 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.07em;
  color: #FFFFFF;
  text-align: left; }

.information {
  display: inline;
  padding-top: 20px; }

/*termin/* */
.termin h3 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000; }

.termin {
  display: inline;
  padding-top: 31px; }

.termin h4 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #000000; }

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0px; }

.row_1 {
  display: flex;
  flex-direction: row;
  width: 100%; }

/*ellipse/* */
.ellipse {
  color: white;
  display: inline-block; }

.ellipse p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 139.4%;
  letter-spacing: 0.2px;
  color: #FFFFFF; }

.ellipse h3 {
  text-align: center;
  color: white;
  margin-top: -45px;
  margin-left: 68px;
  z-index: 3;
  position: absolute; }
